<div class="change_buttons">
  <%= link_to "New User", new_user_path, remote: true %>
  <%= link_to "Sign In", new_session_path, remote: true %>
</div>

<div class="sign">
  
  <div id="up" style="display:none;"></div>

</div>

<div class="sign">
    
  <div id="in" style="display:none;"></div>

</div>